{% macro setting_label(text, hint=None, default=None) %}
<label class="form-label">
    <span class="setting-label">
        {% if hint %}
            <span class="tooltip-trigger" tabindex="0" aria-label="More info">
                {{ text }}
                <span class="tooltip-box">{{ hint }}
                    {% if default %}
                        <span class="section-subtitle">default:{{ default }}</span>
                    {% endif %}
                </span>
            </span>
        {% else %}
            {{ text }}
        {% endif %}
    </span>
</label>
{% endmacro %}